:root {
  --ion-color-primary: #2C3E50;
  --ion-color-primary-rgb: 44, 62, 80;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #273646;
  --ion-color-primary-tint: #415162;

  --ion-color-secondary: #F36422;
  --ion-color-secondary-rgb: 243, 100, 34;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #d6581e;
  --ion-color-secondary-tint: #f47438;

  --ion-color-tertiary: #F5F5F5;
  --ion-color-tertiary-rgb: 245, 245, 245;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #d8d8d8;
  --ion-color-tertiary-tint: #f6f6f6;

  --ion-color-success: #4CAF50;
  --ion-color-success-rgb: 76, 175, 80;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #429f46;
  --ion-color-success-tint: #5eb762;

  --ion-color-warning: #FFC107;
  --ion-color-warning-rgb: 255, 193, 7;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0a906;
  --ion-color-warning-tint: #ffc720;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 240, 65, 65;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-medium: #6C757D;
  --ion-color-medium-rgb: 108, 117, 125;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #5f676e;
  --ion-color-medium-tint: #7b838a;

  --ion-color-light: #F5F5F5;
  --ion-color-light-rgb: 245, 245, 245;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d8d8d8;
  --ion-color-light-tint: #f6f6f6;

  --ion-background-color: #FFFFFF;
  --ion-text-color: #000000;
}
