<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="monthly-budget">
      <ion-icon name="wallet-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="expenses-income">
      <ion-icon name="cash-outline"></ion-icon>
    </ion-tab-button>

    <div class="center-fab-button">
      <ion-fab-button size="small" (click)="onPlusButtonClick()">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-fab-button>
    </div>

    <ion-tab-button tab="weekly-expenses">
      <ion-icon name="calendar-clear-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="cog-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>