<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="monthly-budget">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Budget</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="expenses-income">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Expenses</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="weekly-expenses">
      <ion-icon name="calendar-clear-outline"></ion-icon>
      <ion-label>Weekly</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="cog-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
